*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root{
    --theme-color: #008000;
    --theme-color-lite: #557a52;
    --inner-color-text: white;
    --inner-color-text-dark: White;
}

Link{
    text-decoration: none;
}

.loginPage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
    margin-top: 30vh;
}

.fbAuthButton{
    padding: 10px 20px;
    display: inline-block;
    background: #3B5998;
    text-decoration: none;
    border: none;
    color: white;
    cursor: pointer;
    margin-top: 20px;
    font-weight: 500;
}

.container{
    max-width: 600px;
    margin: 0px auto;
    padding: 0px 10px;
}

.Header{
    display: flex;
    background: var(--theme-color);
    height: 50px;
    justify-content: space-between;
    padding: 0px 10px;
}

.HeaderBranding{
    display: flex;
    align-items: center;
}

.HeaderBrandingText{
    color: var(--inner-color-text);
}

.HeaderSearch{
    display: flex;
    align-items: center;
}

.HeaderSearchButton{
    padding: 4px 10px;
    border: none;
    border-radius: 5px;
    background: #ffffff55;
    filter: invert(1);
    cursor: pointer;
    width: 100px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchButtonIcon{
    height: 15px;
    width: 15px;
}

@media(min-width: 800px){
    .HeaderSearchInput{
        width: 500px;
    }
}

.HeaderProfile{
    display: flex;
    align-items: center;
}

.HeaderProfileImage{
    border-radius: 50%;
    border: 1px solid #888888;
    cursor: pointer;
}

.UserModal{
    width: 200px;
    margin: 25vh auto;
    border-radius: 8px;
    background: white;
}

.UserModalOverlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #22332280;
}

.ModalMenuWrapper{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ModalMenuOptions{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 30px;
    margin: 3px 0;
    cursor: pointer;
    border: 1px solid var(--theme-color);
    background: white;
}

.StyleLink{
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.ModalMenuIcon{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 2;
    padding-right: 5px;
}

.ModalMenuText{
    display: flex;
    justify-content: left;
    align-items: center;
    flex: 3;
    padding-left: 5px;
}

.Profile-Desc{
    margin: 20px 0 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ProfHolder{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 2px solid  var(--theme-color);
    border-radius: 8%;
    padding: 8px; */
}

.Pro-Desc-Img{
    border-radius: 50%;
}

.buttonHolder{
    display: flex;
}

.bigButton{
    background: var(--theme-color);
    border: none;
    padding: 10px;
    color: white;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    margin: 0 0 0 10px;
    border-radius: 3px;
}

.iconImageButton{
    height: 20px;
    width: 20px;
}

.iconImageButtonActive{
    height: 20px;
    width: 20px;
    filter: invert(1);
}

.ButtonImage{
    border: 2px solid var(--theme-color);
    padding: 5px;
    border-radius: 8px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.activeButtonImage{
    border: 2px solid var(--theme-color);
    background: var(--theme-color);
    padding: 5px;
    border-radius: 8px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.AskProfileBadge{
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    align-items: center;
}

.askProfileName{
    margin-top: 10px;
}

.profileBadge{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0 20 0;
}

.AskPageImage{
    border-radius: 50%;
}

.successMessage{
    width: 200px;
    background: #00df55ee;
    text-align: center;
    padding: 3px;
    border-radius: 12px;
    color: white;
    font-weight: 500;
    transition: .4s;
}

.errorMessage{
    width: 200px;
    background: #da1b1bee;
    text-align: center;
    padding: 3px;
    border-radius: 12px;
    color: white;
    font-weight: 500;
    transition-duration: 1s;
}

.AskBoxInputText{
    min-width: 300px;
    min-height: 100px;
    resize: none;
    height: 50px;
    padding: 10px;
}

.chatCount{
    text-align: right;
}

.TextCount{
    color: #88888888;
}

.AskSettingPannel{
    display: flex;
    margin: 10px 0 0 0 ;
    justify-content: space-between;
    align-items: center;
}

.askOptions{
    display: flex;
    flex-direction: column;
}

.ProfileDenyMessage{
    width: 100%;
    display: flex;
    justify-content: center;
    color: #333333;
    margin-top: 30vh;
}

.QLink{
    text-decoration: none;
    color: #333333;
}

.QWrapper{
    display: flex;
    padding: 5px 5px;
    margin: 10px 0;
    border: 2px solid #3B599822;
}

.QAvatar{
    height: 40px;
    width: 40px;
    margin-left: 10px;
}

.QBody{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    word-wrap: break-word;
    overflow: hidden;
}

.QDescription{
    display: flex;
}

.QQuestion{
    font-weight: 500;
    font-size: 15px;
}

.QDescription{
    font-size: 12px;
}

.isPrivate{
    margin-left: 10px;
}

.dateTimeQ{
    display: flex;
}

.dateTime{
    margin-left: 10px;
}

.paginationWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.paginationButton{
    background: var(--theme-color);
    border: none;
    color: white;
    padding: 10px 10px;
    margin: 10px 5px;
    cursor: pointer;
}

.sectionTitle{
    width: 100%;
    display: flex;
    justify-content: center;
    color: var(--theme-color);
    font-weight: 500;
    font-size: 24px;
}

.AskerPanel{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
}

.AnswerPanel{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
}

.AskerPanelQuestionBox{
    background: #f7ecbf88;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px 10px;
    width: 100%;
    border-radius: 3px;
    margin-left: 5px;
}

.AnswerPanelQuestionBox{
    background: #f7ecbf88;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px 10px;
    width: 100%;
    border-radius: 3px;
    margin-right: 5px;
}

.profileBadgeImage{
    border-radius: 50%;
}

.AskerPanelQuestion{
    font-size: 15px;
}


.AskerPanelTime{
    font-size: 12px;
    margin-top: 5px;
    color: black;
    padding: 3px 10px;
    background: white;
    border-radius: 8px;
}

.QuestionWrapper{
    margin-top: 10px;
}

.UnAnsweredButtonGroup{
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.UnAnsweredGroupButton{
    width: 150px;
    border: none;
    background: var(--theme-color);
    color: white;
    margin: 0px 5px;
    padding: 5px 0;
    cursor: pointer;
    border-radius: 3px;
}

.AnswerBoxWrapper{
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 0 auto;
}

.answerSubmitMessage{
    width: 200px;
    text-align: center;
    font-weight: 500;
    color: white;
    background: #00df55ee;
    padding: 5px;
    margin: 10px auto 5px auto;
    border-radius: 8px;
}

.answerCount{
    margin-top: 10px;
    flex: 1;
    text-align: right;
    color: #888888;
}

.answerFormWrapper{
    display: flex;
    flex-direction: column;
}

.answerBox{
    height: 100px;
    resize: none;
    padding: 5px 10px;
}

.AnswerSubmitPanel{
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    align-items: center;
}

.nameColor{
    color: var(--theme-color);
}

.deleteMessage{
    text-align: center;
    word-break: normal;
    font-size: 14px;
    padding: 10px 10px;
}

.deleteModalButtonWrapper{
    display: flex;
    justify-content: space-around;
}

.deleteModalButton{
    margin: 5px 3px;
    border: none;
    background: var(--theme-color);
    color: white;
    font-weight: 500;
    padding: 3px 15px;
    cursor: pointer;
    border-radius: 3px;
}

.likeShareCommentSection{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
}

.likeShareSection{
    display: flex;
    justify-content: space-around;
}

.likeSharePanelButton{
    flex: 1;
    background: var(--theme-color);
    color: var(--inner-color-text);
    font-weight: 500;
    border: none;
    margin: 0 1px;
    padding: 5px 0;
    cursor: pointer;
    border-radius: 3px;
}

.likeButtonUncheck{
    flex: 1;
    background: White;
    color: black;
    font-weight: 500;
    border: 2px solid var(--theme-color);
    margin: 0 1px;
    padding: 3px 0;
    cursor: pointer;
    border-radius: 3px;
}

.commentSection{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.CommentTitle{
    text-align: center;
    background: var(--theme-color-lite);
    color: var(--inner-color-text-dark);
    font-weight: 500;
    padding: 3px 0;
    border-radius: 5px;
}

.commentInputSection{
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex: 1;
    margin-bottom: 50px;
}

.commentForm{
    display: flex;
    flex-direction: row;
    flex: 1;
}

.commentInputBox{
    flex: 8;
    padding: 3px 3px;
    word-break: normal;
    resize: none;
    overflow: auto;
    border-radius: 3px;
    border: 1px solid black;
}

.ButtonHolder{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 2;
    margin-left: 2px;
}

.commentCounterWrapper{
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.commentCounter{
    color: #888888;
}

.commentSubmitButton{
    background: var(--theme-color);
    color: white;
    font-weight: 500;
    border: none;
    padding: 5px 0;
    border-radius: 3px;
    cursor: pointer;
}

.commentSubmitButtonDeactive{
    background: white;
    color: grey;
    font-weight: 500;
    border: 1px solid grey;
    padding: 4px 0;
    border-radius: 3px;
    cursor: pointer;
}

.commentShowWrapper{
    display: flex;
    margin: 8px 0;
    background: #f5f5e7ee;
    padding: 5px;
    border-radius: 8px;
}

.commentProfileWrapper{
    margin-left: 10px;
}

.commentProfilePic{
    border-radius: 50%;
}

.commentTextWrapper{
    margin-left: 20px;
}

.commentProfileName{
    color: var(--theme-color);
}

.commentCommentText{
    color: #444444;
}

.commentDateTime{
    font-size: 14px;
    color: grey;
}

.fbFriendText{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.fbFriendInnerText{
    font-size: 18px;
    font-weight: 500;
    color: #138ece;
}

.fbFriends{
    margin-top: 10px;
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    border: 1px solid #bbbbbb;
    border-radius: 8px;
}

.FbFriendsWrapper{
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: grey;
}

.fbFriendsProfile{
    border-radius: 50%;
}

.noFBFriends{
    text-align: center;
    margin: 0 auto;
    padding: 10px 0;
}

.HomePosts{
    margin-top: 10px;
}

.NoHomePostsText{
    text-align: center;
    margin: 0 auto;
    padding: 10px 0;
}

.HomePostWrapper{
    display: flex;
    align-items: center;
    text-decoration: none;
    margin: 10px 0;
    color: grey;
    flex: 1;
    width: 100%;
}

.HomePostProfileWrapper{
    display: flex;
}

.HomePostContents{
    background: #e9e4b9;
    width: 100%;
    margin-left: 3px;
    border-radius: 3px;
}

.HomePostsContentsHeader{
    font-size: 12px;
    color: grey;
}

.HomePostProPic{
    border-radius: 50%;
    height: 35px;
    width: 35px;
}

.homePostsQuestion{
    padding: 5px 5px;
    margin: 2px 2px;
    background: white;
    border-radius: 3px;
    word-break: normal;
    color: black;
}

.HomePostLikeComment{
    display: flex;
    margin: 2px 0;
}

.HomePoststat{
    flex: 1;
    text-align: center;
}

.searchModal{
    width: 350px;
    margin: 20vh auto;
    border-radius: 3px;
    background: white;
}

.searchModalWrapper{
    padding: 5px;
}

.searchModalTool{
    flex: 1;
    display: flex;
    width: 100%;
}

.searchModalInput{
    padding: 5px;
    flex: 5;
}

.searchResultWrapper{
    padding: 0 5px;
}

.searchedProfileWrapper{
    display: flex;
    margin: 5px 0;
    text-decoration: none;
    align-items: center;
    border: 1px solid grey;
    border-radius: 5px;
}

.searchProfileName{
    color: var(--theme-color-lite);
    font-size: 18px;
    font-weight: 600;
}

.searchImageContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchProfileImage{
    border-radius: 50%;
    height: 35px;
    width: 35px;
    margin: 3px 10px;
}